.detail-inner{
    padding-top: 100px;
}
.event-card{
    padding-top: 15px;
    padding-bottom: 15px;
}

body{
    background-color: whitesmoke;
    color: #12005e;
    
}
#main-footer{
    margin-top: 70px;
}